<!DOCTYPE html>
<html>
<head>
  <title>SpendWise Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">
  <div class="login-card">
    <h1>SpendWise</h1>
    <p class="subtitle">Smart Expense Manager</p>

    <form method="post">
      <input type="email" name="email" placeholder="Enter your email" required>
      <button type="submit">Login</button>
    </form>

    <p class="footer-text">Track • Analyze • Predict</p>
  </div>
</div>

</body>
</html>
